{% load staticfiles %}
<html>
    <head>
        <title>Twitter Miner</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/miner.css' %}" type='text/css'>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/" style="text-align: center">Twitter Miner</a></h1>
            <nav>
                <ul style="text-align: center">
                    <li><a href='home.html'>Home</a></li>
                    <li><a href='index.html'>Track</a></li>

                </ul>
            </nav>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
            Contact Info
            ETC
        </footer>
    </body>
</html>