{% extends 'miner/base.html' %}
{% block content %}
                    
                <div class="col-md-8">
                {% for u in user %}
                    <div class="POST">
                        
                        <p>name: {{ user.name }}</p>
                        <p>scree_name: {{ user.screen_name }}</p>
                        <p>tweet: {{ user.tweet }}</p>
                        <p>followers: {{ user.followers }}</p>
                        <p>favourited: {{ user.favourited }}</p>
                        <p>description: {{ user.description }}</p>
                        <p>retweets: {{ user.retweets }}</p>
                        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" onclick="return confirm('Sure you wanna edit post?');"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}" onclick="return confirm('Sure you wanna delete post?');"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                {% endfor %}
                </div>
{% endblock %}